:root {
    --bg-color: black;
    --border-color: white;
    --text-color: white;
    --text-blue: rgb(0, 140, 255);
    --highlight-color: rgb(80, 80, 80);
    --like-color: rgb(255, 48, 64);
    --follow-button-blue: #0095F6;

    --min-navbar-width: 200px;
    --reduced-navbar-width: 77px;
    --min-main-width: 500px;
    --font-size: 20px;
    --font-size-sm: 15px;
    --profile-picture-size: 160px;
}

.dm-sans-primary-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-primary-font-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


@keyframes like-animation {
    0% {
        transform: scale(0);
     }
    80% {
        transform: scale(1.3);
     }
    100% {
        transform: scale(1);
     }
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

p {
    margin: 0;
}
.navbar > ul{
    list-style: none;
    margin: 0;
    padding: 8px 12px 20px 8px;
    height: fit-content;

}

.navbar {
    position: fixed;
    height: 100vh;
    min-width: var(--min-navbar-width);
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-right: 1px solid var(--border-color);
    font-size: var(--font-size);
}

.navbar-text-opt {
    margin: 0;
    align-self: center;
}

.full-name-logo {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2em 0 0 20px;
    border: none;
}

.icon-logo {
    display: none;
}

.main {
    position: absolute;
    top: 100px;
    left: calc(var(--min-navbar-width) + 10vw);
    min-width: var(--min-main-width);
}

.navbar > ul > li > a {
    display: flex;
    justify-content: left;
    padding-left: 15px;
    border-radius: 8px;
    margin: 1em 0;
    height: 2em;

}

.navbar > ul > li > a:hover {
    background-color: var(--highlight-color);
}

.icon {
    align-self: center;
    margin-right: 1em;
    height: 1.1em;
    width: 1.1em;
}

.icon > img {
    border-radius: 100%;
}

.post-header {
    color: var(--text-color);
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.post-header > p {
    text-align: center;
}

.post-icon {
    aspect-ratio: 1 / 1;
    height: fit-content;
    margin-right: .5em;
}

.post-icon > img {
    border-radius: 100%;
}

.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.post-img > img {
    border-radius: 5px;
    max-width: var(--min-main-width);
    height: auto;
}

.post-interactions {
    color: var(--text-color);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3em;
}

.post-interactions > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 1em;
}

.post-interactions > *:hover {
    color: var(--highlight-color);
}

.info-data {
    color: var(--text-color);
    font-size: var(--font-size-sm);
    height: 1em;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: .3em 0;
}

.likes-qty {
    margin-right: .5em;
}

.hide-icon {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}

.post-like-button {
    display: flex;
    justify-content: left;
    align-items: center;
}

.post-like-button > span {
    height: fit-content;
    width: fit-content;
    color: var(--like-color);
}

.post-like-button > span > svg {
    animation: like-animation .3s;
}

.post-description {
    color: var(--text-color);
    width: 100%;
    max-width: var(--min-main-width);
    height: fit-content;
    max-height: 4em;
    overflow: hidden;
    text-wrap: wrap;
    text-align: justify;
    margin-top: var(--font-size-sm);
    position: relative;
}

.post-description > p {
    height: 2em;
    width: 100%;
    line-height: 1em;
}

.more-button {
    width: 100%;
    height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
    color: var(--highlight-color);
}

.more-button > p {
    height: 1em;
    width: fit-content;
    display: block;
}

.show-comments {
    width: 100%;
    height: 1em;
    color: var(--highlight-color);
    background-color: var(--bg-color);
    margin: .5em 0;
}


.input-comment {
    position: relative;
    min-height: 3em;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-comment > textarea {
    width: 100%;
    height: 1.5em;
    min-height: 1em;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    resize: none;
    overflow-y: hidden;
    box-sizing: border-box;
    padding-right: 15%;
}

.input-comment > div {
    width: 15%;
    height: 100%;
    color: var(--bg-color);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-blue);
}

.input-comment > div > p:hover{
    color: var(--text-color);
}

.pointer-on-hover:hover {
    cursor: pointer;
}

.profile-main {
    --profile-main-width: 70vw;
    color: var(--text-color);
    position: absolute;
    top: 0;
    left: calc((100vw - var(--min-navbar-width) - var(--profile-main-width))/2 + var(--min-navbar-width));
    width: var(--profile-main-width);
    padding-top: 2em;
}

.profile-header {
    --profile-header-rows-height: 1.5em;
    width: 100%;
    height: 66vh;
    display: grid;
    grid-template-columns: 33% 66%;
}

.profile-options {
    display: flex;
    justify-content: left;
    align-items: center;
    height: fit-content;
    margin-left: 2em;
}

.profile-username {
    width: 100%;
    height: var(--profile-header-rows-height);
    font-size: var(--font-size);
    line-height: var(--profile-header-rows-height);
    margin: 0;
}

.profile-header-buttons {
    margin-left: 1em;
    display: flex;

}

.profile-button {
    font-size: var(--font-size);
    height: var(--profile-header-rows-height);
    padding: 0 1em;
    margin: 0 .2em;
    border-radius: 8px;
    background-color: var(--highlight-color);
    line-height: var(--profile-header-rows-height);
}

.profile-button:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
}


.profile-picture-div {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.profile-picture-img {
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    border-radius: 100%;
}

.profile-info {
    height: fit-content;
    width: 100%;
    display: flex;
    padding: 0;
    margin-left: 2em;
}

.profile-info li {
    list-style: none;
    margin-right: 1em;
    font-size: var(--font-size);
}

.profile-spacer {
    height: 1em;
    width: 100%;
}

.profile-bio {
    margin-left: 2em;
}

.post-grid-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
    justify-content: space-between;
}

.post-div {
    display: flex;
    align-items: center;
    position: relative;
}

.post-div > div {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.post-div > div > img{
    width: 100%;
    height: auto;
}

.post-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-info-overlay {
    font-weight: 800;
    opacity: 0;
    margin: 0 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   

.post-info-overlay * {
    margin: 0 .2em;
}

.post-overlay:hover {
    background-color: rgba(50, 50, 50, .5);
}

.post-overlay:hover .post-info-overlay {
    opacity: 1;
}

.follow-button {
    background-color: var(--follow-button-blue);
}

.unfollow-button {
    background-color: var(--highlight-color);
}

.background-cover {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.post-close-button {
    --size: 20px;
    display: inline-block;
    content: "\00d7";
    position: absolute;
    top: 10px;
    right: 20px;
    height: var(--size);
    width: var(--size);
    font-size: var(--size);
    color: var(--text-color);
    margin: 10px;
}


.post-main-view-card {
    --info-div-width: 405px;
    --main-card-width: calc(var(--info-div-width) + 200px);
    --main-card-height: 90vh;
    position: relative;
    min-width: var(--main-card-width);
    width: fit-content;
    max-width: 80vw;
    height: var(--main-card-height);
    display: grid;
    grid-template-columns: auto var(--info-div-width);
    background-color: var(--bg-color);
    z-index: 100;
}


.post-main-view-img {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.post-main-view-img img {
    width: 100%;
    height: auto;
}

.post-main-view-info{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-left: 1px solid var(--highlight-color);
}

.post-main-view-info-comments {
    padding: 0 .5em 0 1em;
    overflow-y: scroll;
    /* TODO: Ajustar altura sem gambiarra */
    height: 370px; 
}

.post-main-view-info-interactions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.white-bottom-top {
    border-top: 1px solid var(--highlight-color);
}

.px-1em {
    padding: 0 1em;
}

.secondary-text {
    color: var(--highlight-color);
    font-size: 14px;
}

.comment {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: left;
    color: var(--text-color);
}

.comment-img {
    margin-top: calc(var(--font-size-sm) - 5px);
}

.comment-text {
    color: var(--text-color);
    width: 100%;
    max-width: var(--min-main-width);
    height: fit-content;
    overflow: hidden;
    text-wrap: wrap;
    text-align: justify;
    margin-top: var(--font-size-sm);
    position: relative;
    word-wrap: break-word;
}

.comment-text > div > p {
    line-height: 1em;
}

.comment-footer p {
    margin-right: 1.5em;
}

.comment-footer .likes-qty {
    margin-right: .2em;
}

.comment .post-like-button {
    margin-left: .5em;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}


.comment-like-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-date {
    text-transform: lowercase;
}

@media only screen and (max-width: 1100px) {
    .navbar {
        position: fixed;
        height: 100vh;
        width: var(--reduced-navbar-width);
        min-width: var(--reduced-navbar-width);
        display: flex;
        flex-direction: column;
        justify-content: left;
        background-color: var(--bg-color);
        color: var(--text-color);
        font-size: var(--font-size);
    }

    .navbar-text-opt {
        display: none;
    }

    .full-name-logo {
        display: none;
    }
    
    .icon-logo {
        display: flex;
        width: 100%;
        margin: 1em 23px;
    }

    .main {
        position: absolute;
        top: 100px;
        left: calc((100vw - var(--min-main-width))/2 + .5 * var(--reduced-navbar-width));
        min-width: var(--min-main-width);
    }

    
    .profile-main {
        --profile-main-width: 80vw;
        position: absolute;
        left: calc((100vw - var(--profile-main-width))/2 + .5 * var(--reduced-navbar-width));
        width: var(--profile-main-width);
    }

}