{% extends 'base.html' %}

{% block title %} {{page_title}} {% endblock %}
{% block content %}
    <div>
        <div>
            <img src="{{ MEDIA_URL }}{{ profile_user.profile_picture }}" alt="" width="100" height="100">
        </div>
        <h1>
            {{ profile_user.username }}
        </h1>
    </div>
    {% if user_list %}
        {% for user, is_following in user_list %}
            <div>
                <div>
                    <img src="{{ MEDIA_URL }}{{ user.profile_picture }}" alt="" width="100" height="100">
                </div>
                <input type="hidden" class="username" value="{{ user.username }}">
                <button type="button" class="follow-button">
                    {% if is_following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
                <p>{{ user.username }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Empty</p>
    {% endif %}

{% endblock %}