<div class="background-cover">
    <div class="relationship-view-card">
        <div class="relationship-card-header">
            <div class="card-title">
                <h2 class="title">{{ page_title }}</h2>
            </div>
            <div class="overlay-close-button pointer-on-hover">&#x2715</div>
            <div class="search white-border-top">
                <input type="hidden" value="{{ search_url }}" class="search-url">
                <input type="text" name="search" placeholder="Search user" class="search-input">
            </div>
        </div>
        <div class="users">
            {% if user_list %}
            <ul class="users-list">
                {% for user, is_following in user_list %}
                <li class="user-item">
                    <div class="user-info">
                        <div class="user-icon round-icon">
                            <img src="{{ MEDIA_URL }}{{ user.profile_picture }}" alt="" width="50" height="50">
                        </div>
                        <span>
                            <a href="{% url 'users:profile' username=user.username %}">
                                <p>{{ user.username }}</p>
                            </a>
                            {% if user.bio %}
                            <p class="max-text">{{ user.bio }}</p>
                            {% endif %}
                        </span>
                    </div>
                    <div class="relationship-buttons">
                        <input type="hidden" class="post-url" value="{% if profile_user %} {% url 'users:profile' username=profile_user.username %} {% else %} {% url 'users:profile' username=user.username %} {% endif %}">
                        <input type="hidden" class="username" value="{{ user.username }}">
                        {% if profile_user == logged_user and page_title == 'Seguidores' %}
                        <div class="profile-button remove-follower pointer-on-hover">
                            Remover
                        </div>
                        {% endif %}
                        {% if user != logged_user %}
                        <div class="profile-button follow-button pointer-on-hover {% if is_following %}unfollow-button{% endif %}">
                            {% if is_following %}
                            Seguindo
                            {% else %}
                            Seguir
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="center-text">
                <p>Vazio</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>